body{
    margin: 0;
    background-color: #181733;
}
section{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    bottom: 50px;
}
.header{
    position: relative;
    background-color: #0a0927;
    height: 200px;
    width: 100%;
    border-bottom: 1px solid;
    overflow: hidden;
}
#naslov{
    position: relative;
    left: 200px;
    bottom: 75px;
    color: white;
    font-size: 50px;
}
.logo{
    position: relative;
    top: 60px;
    left: 90px;
    background-image: url(images/logo.png);
    width: 100px;
    height: 100px;
    background-size: 90px;
    background-repeat: no-repeat;
}
.lineup{
    width: 900px;
    margin-top: 10px;
    margin-left: 50px;
}
.barca{
    width: 180px;
    margin-left: 420px;
    margin-top: 80px;
}
button{
    position: relative;
    width: 1020px;
    height: 100px;
    top: 40px;
    border:none;
    background-image: linear-gradient(to bottom,#991a44,#181733);
    color: #FF9900;
    font-size: 30px;
}
button:hover{
    font-size: 33px;
    transition: font-size linear 0.1s;
}
.sredina{
    position: relative;
    width: 1500px;
}
.prvi{
    position: relative;
    top: 150px;
    width: 1020px;
    height: 700px;
    background-color:white;
}
h1{
    position: relative;
    text-align:center;
    top: 50px;
    font-size: 40px;
    color:#0a0927;
}
aside{
    position: absolute;
    top: 150px;
    right: 0;
    width: 400px;
    height: 1300px;
    border-top: 1px solid;
    color: gold;
    background-color: #0a0927;
}
.laliga{
    width: 120px;
    margin-left: 140px;
}
.uefa{
    width: 80px;
    margin-left: 170px;
    margin-top: 70px;
}
.copa{
    width: 80px;
    margin-left: 170px;
    margin-top: 70px;
}
.fifa{
    width: 60px;
    margin-left: 180px;
    margin-top: 70px;
}
#trofej_tekst{
    color: gold;
    text-align:center;
    font-size: 18px;
    margin-top: 0;
}
span{
    font-size: 70px;
    font-weight: bold;
    color:gold;
}
footer{
    position: relative;
    top: 820px;
    background-color: #0a0927;
    height: 200px;
    border-top: 1px solid;
}
#naslov2{
    position: relative;
    text-align:center;
    color: white;
    font-size: 18px;
    top: 80px;
}
table{
    color: gold;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
th{
    font-size:30px;
    padding-right: 50px;
    padding-bottom: 20px;
}
td{
    padding-right: 50px;
    text-align:center;
}
.arrow{
    width: 30px;
}
